.formContainer{
display: flex;
flex-direction: column;
align-items: center;
}
.formContainer h2{
    margin-top: 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
  }
  .formControl{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0px;
  }
  
  .formControl input{
    width: 22rem;
  padding: 7px 15px;
  border: 1px solid #e2e8f0;
  box-shadow: 1px 1px 10px #e2e8f0;
  border-radius: 7px;
  color: #581c87;
  font-size: 14px;
  }
  .formControl input:focus{
    border: 1px solid #7e22ce;
    
  }
  .formControl label{
    color:#64748b ;
    font-size: 14px;
  }
  form button{
    padding: 7px 15px;
  background-color:#7e22ce;
  border-radius: 7px;
  color: #f8fafc;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 7px;
  width: 100%;
  }
  form button:disabled{
    background-color:#d4d4d8;
    cursor: not-allowed;
    
  }
  form p{
    color:#f43f5e
    ;
    font-size: 12px;
  }
  form a{
    font-size: 14px;
  }